{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1>
    Mot de passse oublié
</h1>

{{ form_start(form) }}
{{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Email'}}) }}
<button type="submit" class="btn btn-outline-primary">Envoyer</button>
{{ form_end(form) }}

{% endblock %}
