{% extends 'base.html.twig' %}

{% block body %}
<h1>
    Connexion
</h1>

<form action="{{ path('security_login') }}" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" required name="_username" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Mot de passe</label>
        <input type="password" class="form-control" required name="_password" placeholder="Mot de passe">
        <small id="emailHelp" class="form-text text-muted"><a  href="{{ path('forgotten_password') }}">Mot de passe oublié ?</a></small>
    </div>
    <button type="submit" class="btn btn-outline-primary">Connexion</button>
</form>

{% endblock %}
