{% extends 'base.html.twig' %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">Hébergement</li>
{% endblock %}
{% block body %}
  <h1>
    Liste des hébergements
  </h1>

  <section class="rooms">
    {% set i = 0 %}
    {% for hosting in hostings %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nom : {{ hosting.name }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Adresse : {{ hosting.address }}</h6>
                <a href="{{ path('hosting_edit', {'id': hosting.id}) }}" class="card-link" data-ytta-id="-">Editer</a>
 
            </div>
        </div>
 
        {% set i = i + 1 %}
 
    {% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(hostings) }}
    </div>
  </section> 
{% endblock %}
