h1{
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
}

.divider{
    border-style: solid;
    border-width: 0.5px;
    border-color: #55595c;
    margin: 10% 10% 0% 10%;
}

.alert, .card{
    margin: 5%;
}

.bc{
    margin-top: 1%;
}

.list-group{
    margin: 2%
}